body{
    scrollbar-width: none;
    /*overflow-y: hidden;*/
}

body::-webkit-scrollbar{
    display:none;
}

.header{
    margin: auto;
    width: 100%;
    position: fixed;
    z-index: 3;
    display: flex;
}
.headerAD{
    width:auto;
    
}
.headerLink{
    justify-content: flex-end;
    text-align: end;
    
    margin-top: 20px;
    margin-right: 5px;
}

.headerLink > a{
    background-color: black;
    font-family: Gilroy-Light;
    font-size: 15px;
    padding: .1em;
    text-align: center;
    margin-top: 10px;
    display: inherit;
}
.appHeader{
    background: #00ab7e;
    width: 12%;
    display: flex;
    color:white;

}
.logo{
    display: inherit;

    align-items: flex-start;
    justify-content: flex-start;
    padding: 1%;
    background-image: linear-gradient(120deg, black 62%, #009970 61%, #009970 67% ,transparent 34%);
}
.logo-content{
    display: inherit;
    align-self: stretch;
    justify-content: right;
    flex-direction: column;
}
.appHeader a{
    text-align: right;
    font-size: 15px;
}

nav{
    width:26%;
    height: 100%;
    position: fixed;
    overflow-x: hidden;
    
    padding-top: .5em;
    z-index: 2;
    background: white;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.5);
}

nav > ul::-webkit-scrollbar{
    width: auto;
    background-color: transparent;
} 

nav::-webkit-scrollbar-thumb{
    background-color:#00ab7e;
}

.sidenav{
    display: none;
}
.dropdown{
    width:23%;
    position: fixed;
    display:flex;
    align-items: inherit;
   
}

.btnSearch{
    color: #00ab7e;
    width: 90%;
    background: white;
    border: .2rem;
    border-style: dashed;
    border-color: #00ab7e;
    padding: .7rem;
    font-family: 'Montsserat';
    font-size: 19px;
}

.location{
    display: none;
    padding-top: 0%;
    margin-top: 0%;
    position: absolute;
    z-index: 1;
    background: white;
    width: 100%;
    font-size: 1rem;
    overflow: hidden;
    scrollbar-width: none; /*firefox*/
    height:auto;
    box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.2) ;
}

 #menu {
    padding-top: 0%;
    padding-bottom: 50%;
}



.location-cards{
    box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.2);
    padding: .5em;
    text-align: center;
    background-color: white;
    height:auto;
}

.place-name{
    color:white;
    background-color: #009970;
    border-radius: 50%;
    border-color: #009970;
    padding:.3em;
}

.show{
    display: inline-grid;
    grid-template-columns: auto auto;
}
.unshow{
    display: none;
}

.container{
    display: flex;
    width:100%;
    border: black;
   /* background: yellow;*/
    padding-right: .2em;
    padding-top: 90px;
}

.container ul{
    list-style: none;
}

.container > nav > ul {
    padding-left: 0%;
    margin-bottom: 0px;
    margin-top: 0px;
    padding-top: 15%;
    width:100%;
    overflow-x: hidden;
    overflow-y: scroll;
    scrollbar-color: #00ab7e transparent;
    scrollbar-face-color: #00ab7e;
    scrollbar-highlight-color: darkcyan;
}
.content{
    width: 70%;
    height: 100%;
    margin-left: 27%;
    margin-bottom: 40px;
  /*  background: peachpuff;*/
    overflow-x: auto; 
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    
}

.content > span{
    display: inherit;
    justify-content: space-around;
}


.news-card {
    box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.2);
    padding: .5em;
    text-align: justify;
    background-color: white;
    display: flex;
    width:23em;
}
.news-card:hover{
    background-color: whitesmoke;
}
.card-selected{
    background-color: whitesmoke;
}



.news-card article{
    padding: .2em;
}

.news-card .tileImage{
    width:40%;
}

.news-card .tileContent{
    width:60%;
    padding:1%;
    margin: auto;
}


.tileContent > p{
    margin-top: .2rem;
    margin-bottom: .4rem;
    font-family: 'indulekha';
    font-size: 15px;
    font-weight: bold;
}
.news-card article > img{
    padding:.1em;
    width:100%;
    border-radius: 15%;
    height:100%;
}

.sub-title{
    padding:1%;
}

.titleAuthor{
    background-color: #009970;
    color: white;
}

.titleTimeStamp{
    color:darkgrey;
    background: white;
    text-align: left;
}

.news-card .tileTime{
    text-align: left;
    color: darkgrey;
    padding-left: 110px;
}

.RecmndNews{
    width: 100%;
    font-family: Gilroy-light;
    font-size: 15px;
    padding-top: 3%;
}

.RecmndHeading{
    font-size: 17px;
}

.RecmndContent{
    display: flex;
    padding-top: 2%;
}
.RecmndContent .RecmndImage{
    width:15%
}

.RecmndContent > p{
    width: 70%;
    padding-left: 2%;
}




.closeBtn{
    background-color: #00ab7e;
    color: white;
    width: 5%;
    z-index: -1;
}

@media (min-width:601px){
    .closeBtn{
        display:none;
    }
}

@media (max-width:600px){

    nav{
        z-index: -1;
    }
    .container{
      
        flex-direction: column;
        z-index: 2;
        background: whitesmoke;
    }

    .content{
        padding-left: 1%;
        margin-left: 5%;
        width:100%;
        overflow-x: scroll;
        background: whitesmoke;
    }

    nav{
        display:none;
    }

    .sidenav{
        display: block;
        background-color: #00ab7e;
        color: white;
    }

    .sidenav :hover{
        background-color: white;
        color: #00ab7e;
    }

    .sidebar-activate{
        display:block;
        z-index: 2;
        width: auto;
    }

    .dropdown{
        width: 100%;
    }
    
}
@font-face{
    font-family: 'NewFonttp1';
    src:url(stori10/fonts/FMLIN0BTT.ttf) format('truetype');
}
@font-face{
    font-family: 'NewFonttp2';
    src:url(stori10/fonts/FMLIN0ITT.ttf) format('truetype');
}
@font-face{
    font-family: 'NewFonttp1';
    src:url(stori10/fonts/FMLIN0NTT.ttf) format('truetype');
}
@font-face{
    font-family: 'NewFonttp1';
    src:url(stori10/fonts/FMLIN0XTT.ttf) format('truetype');
}

@font-face{
    font-family: 'Gilroy-Bold';
    src: url(stori10/fonts/._Gilroy-ExtraBold.otf) format('opentype');
}
@font-face{
    font-family: 'Gilroy-Light';
    src: url(stori10/fonts/._Gilroy-Light.otf) format('opentype');
}
